<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        封禁玩家列表
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a <if condition="$item.active eq 1">class="active"</if> href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="form-group col-sm-1">
                        <input name="table_search" id="search_roleid" class="form-control pull-right" placeholder="玩家ID" type="text">
                    </div>
                    <div class="form-group col-sm-1">
                        <input name="table_search" id="search_nickname" class="form-control pull-right" placeholder="玩家昵称" type="text">
                    </div>
                    <div class="form-group col-sm-1">
                        <button onclick="onSearch('__MODULE__/player/forbidden')" type="submit" class="btn btn-primary">查询</button>
                    </div>

                </form>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table text-center table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>玩家ID</th>
                        <th>注册时间</th>
                        <th>昵称</th>
                        <th>房卡剩余</th>
                        <th>最近登录</th>
                        <th>最近登录IP</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="clients" item="item">
                        <tr>
                            <td>{$item.roleid}</td>
                            <td>{$item.date}</td>
                            <td>{$item.nickname}</td>
                            <td>
                                <foreach name="item.stock_amount" key="k" item="stock_amount">
                                    {$stock_type[$k]}: {$stock_amount}<br>
                                </foreach>
                            </td>
                            <th>{$item.last_login}</th>
                            <th>{$item.last_login_ip}</th>
                            <td>
                                <button class="btn btn-success" onclick="confirmUnBlock('__MODULE__/player/forbidden/id/{$item._id}/op/unblock')">解封</button>
                                <button class="btn btn-danger" onclick="confirmBlock('block')">封停</button>
                            </td>
                        </tr>

                    </foreach>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                {$page}
            </div>

            <!-- /.box-footer -->
        </div>
    </div>
</section>
    <div id="block-dialog" class="modal modal-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="confirmBlock('none')">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">封号</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form class="form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <label for="forbidden_time" class="col-sm-2 control-label">封停时长</label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="forbidden_time" placeholder="XX小时" type="number" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-4">
                                    <input class="form-control" id="remark" placeholder="备注" type="text" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" onclick="confirmBlock('none')" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-outline" onclick="playerBlock('__MODULE__/player/forbidden/id/{$item._id}/op/block')">封停</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<script>
    function onSearch(_url) {
        var search_roleid = $("#search_roleid").val();
        var search_nickname = $("#search_nickname").val();
        var source = {
            roleid: search_roleid,
            nickname: search_nickname,
        };
        menuClick(_url, source);
    }

    function confirmBlock(display) {
        $("#block-dialog").css("display", display);
    }

    function playerBlock(_url) {
        $("#block-dialog").css("display", 'none');
        ajaxRequest(_url, null, 'PUT', 'json', function(result) {
            if (!result) {
                successDialog('block', '封禁', '封禁成功!');
                menuClick('__MODULE__/player/forbidden');
            }
        })
    }

    function confirmUnBlock(_url) {
        warningDialog('block', '警告', '你真的要解禁此账号吗?', "playerUnBlock('_url')");
    }

    function playerUnBlock(_url) {
        //warningDialog('none');
        ajaxRequest(_url, null, 'PUT', 'json', function(result) {
            if (!result) {
                successDialog('block', '解封', '解禁成功!');
                menuClick('__MODULE__/player/forbidden');
            }
        })
    }
</script>
<!-- /.content -->