<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        修改密码
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a
                <if condition="$item.active eq 1">class="active"</if>
                href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <form class="form-horizontal" onsubmit="return false;">
            <div class="form-group">
                <label for="old_password" class="col-sm-2 control-label">旧密码</label>

                <div class="col-sm-4">
                    <input class="form-control" id="old_password" placeholder="旧密码" type="password">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">密码</label>

                <div class="col-sm-4">
                    <input class="form-control" id="password" placeholder="密码" type="password">
                </div>
            </div>
            <div class="form-group">
                <label for="repeat_password" class="col-sm-2 control-label">重复密码</label>

                <div class="col-sm-4">
                    <input class="form-control" id="repeat_password" placeholder="重复密码" type="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger" onclick="userPassword('__MODULE__/user/password')">提交
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    function userPassword(_url) {
        var method = "PUT";
        var old_password = $("#old_password").val();
        var password = $("#password").val();
        var repeat_password = $("#repeat_password").val();

        var source = {
            old_password: old_password,
            password: password,
            repeat_password: repeat_password,
        };
        ajaxRequest(_url, source, method, 'json', function (result) {
            if (result.code == 201) {
                successDialog('block', '保存', result.msg);
                menuClick('__MODULE__/user/password');
            } else {
                errorDialog('block', '保存', result.msg);
            }
        });
    }
</script>