<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        房卡套餐
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a <if condition="$item.active eq 1">class="active"</if> href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="gg-tab">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b class="text-light-blue">房卡套餐列表</b></a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><b class="text-green">新建</b> | <b class="text-blue">编辑</b></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input name="table_search" class="form-control pull-right" placeholder="搜索..." type="text">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>创建时间</th>
                                    <th>套餐名称</th>
                                    <th>套餐描述</th>
                                    <th>售价</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                <foreach name="cards" item="item">
                                    <tr>
                                        <td>{$item.date}</td>
                                        <td>{$item.name}</td>
                                        <td>{$item.desc}</td>
                                        <td>{$item.price}</td>
                                        <td>
                                            <if condition="$item.status eq 0">
                                                <label class="label bg-red-active">不可售</label>
                                            <else/>
                                                <label class="label bg-green-active">在售</label>
                                            </if>
                                        </td>
                                        <td><a href="Javascript:void(0)" onclick="cardEdit('__MODULE__/card/cards/_id/{$item._id}')">编辑</a> |
                                            <a href="Javascript:void(0)" onclick="cardConfirmDelete('__MODULE__/card/cards', '{$item._id}')">删除</a></td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            {$page}
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">套餐名称</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="name" placeholder="套餐名称" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">套餐配置</label>
                            <foreach name="stock_type" key="k" item="item">
                                <div class="col-sm-2">
                                    <input type="number" name="config" min="0" class="form-control" id="config_{$k}" placeholder="{$item}房卡（张）">
                                </div>
                            </foreach>
                        </div>
                        <div class="form-group">
                            <label for="desc" class="col-sm-2 control-label">套餐描述</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="desc" rows="3" placeholder="套餐描述"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="price" class="col-sm-2 control-label">售价</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="price" placeholder="售价（元）">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">状态</label>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="status">是否可售
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="card_submit" type="submit" class="btn btn-primary" onclick="cardSave('__MODULE__/card/cards')">添加</button>
                                <button type="submit" class="btn btn-warning" onclick="cardClear()">清空</button>
                                <input type="hidden" id="_id">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    function cardClear() {
        $("#name").val("");
        $("#desc").val("");
        $("#price").val("");
        $("#config_1").val("");
        $("#config_2").val("");
        $("#_id").val("");
        $("#card_submit").html("添加");
    }

    function cardEdit(_url) {
        ajaxRequest(_url, null, 'get', 'json', function(result) {
            if (result.code == 200) {
                $("#card_submit").html("保存");
                $('#gg-tab a[href="#tab_2"]').tab('show');
                $("#name").val(result.data.cards.name);
                $("#desc").val(result.data.cards.desc);
                $("#price").val(result.data.cards.price);
                for(var i in result.data.cards.config) {
                    var id = "#config_" + (parseInt(i)+1);
                    $(id).val(result.data.cards.config[i]);
                }
                $("#_id").val(result.data.cards._id.$id);
                if (result.data.cards.status) {
                    $("#status").attr("checked", true);
                } else {
                    $("#status").attr("checked", false);
                }
            }
        })
    }

    function cardConfirmDelete(_url, _id) {
        warningDialog('block', '警告', '此操作不可恢复，你真的要删除吗?', "cardDelete('" + _url + "', '" + _id + "')");
    }

    function cardDelete(_url, _id) {
        var source = {
            _id: _id
        }
        ajaxRequest(_url, source, 'DELETE', 'json', function(result) {
            if (!result) {
                warningDialog('none');
                successDialog('block', '删除', '删除成功!');
                menuClick('__MODULE__/card/cards');
            }
        })
    }

    function cardSave(_url) {
        var method = $("#_id").val() ? "PUT" : "POST";
        var price = $("#price").val();
        var name = $("#name").val();
        var config = {};
        $("input[name='config']").each(function(key, item) {
            config[parseInt(key)+1] = item.value;
        });
        var desc = $("#desc").val();
        var _id = $("#_id").val();
        var status = $("#status").is(':checked') ? 1 : 0;
        var source = {
            price:price,
            name: name,
            desc: desc,
            config: config,
            status: status,
            _id:_id
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '保存或新建', result.msg);
                menuClick('__MODULE__/card/cards');

            } else {
                errorDialog('block', '保存或新建', result.msg);
            }
        });
    }
</script>