</div>







<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>版本</b> 1.0.0
    </div>
    <strong>Copyright © 2016-2017 <a href="http://www.mumushen.com">广州三缺一</a>.</strong> 版本所有.
</footer>
<div id="error-dialog" class="modal modal-danger"></div>
<div id="success-dialog" class="modal modal-success"></div>
<div id="warning-dialog" class="modal modal-warning"></div>
<iframe src="about:blank" name="hiddenIframe" class="hide"></iframe>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/bower_components/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/fastclick/fastclick.min.js"></script>

<script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/bower_components/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/iCheck/icheck.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script src="/bower_components/AdminLTE/plugins/ckeditor/ckeditor.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/plugins/canvas-to-blob.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/plugins/sortable.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/plugins/purify.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/locales/zh.js"></script>
<script src="/bower_components/AdminLTE/plugins/pace/pace.min.js"></script>
<script src="/bower_components/AdminLTE/dist/js/app.min.js"></script>
<!--<script src="/bower_components/AdminLTE/dist/js/demo.js"></script>-->
<script src="/Public/Common/js/common.js"></script>
<script>
    function logout(_url) {
        ajaxRequest(_url, null, 'delete', 'json', function(result) {
            if (!result) {
                window.location.href = "/Admin/index/login";
            }
        });
    }
</script>
</body>
</html>