<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        领卡记录
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a
                <if condition="$item.active eq 1">class="active"</if>
                href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <div class="form-group col-sm-2">
                    <input class="form-control" id="search_date" placeholder="时间段">
                </div>
                <div class="form-group col-sm-1">
                    <input name="table_search" id="search_roleid" class="form-control pull-right" placeholder="玩家ID" type="text">
                </div>
                <div class="form-group col-sm-1">
                    <input name="table_search" id="search_nickname" class="form-control pull-right" placeholder="玩家昵称" type="text">
                </div>
                <div class="form-group col-sm-1">
                    <button onclick="onSearch('__MODULE__/operation/record')" type="submit" class="btn btn-primary">查询</button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table id="data-table" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>领取日期</th>
                        <th>玩家ID</th>
                        <th>昵称</th>
                        <th>领取数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="record" item="item">
                        <tr>
                            <td>{$item.date}</td>
                            <td>{$item.roleid}</td>
                            <td>{$item.nickname}</td>
                            <td>{$item.amount}</td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                {$page}
            </div>

            <!-- /.box-footer -->
        </div>

    </div>
</section>
<script>
    $('#search_date').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 30,
        format: 'YYYY/MM/DD HH:mm:ss',
        locale: moment.locale('zh-cn'),
        autoUpdateInput: false,
    });
    $('#search_date').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD HH:mm:ss') + ' - ' + picker.endDate.format('YYYY/MM/DD HH:mm:ss'));
    });

    $('#search_date').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
    //$("#search_date").val("");
    function onSearch(_url) {
        var search_date = $("#search_date").val();
        var search_roleid = $("#search_roleid").val();
        var search_nickname = $("#search_nickname").val();
        var source = {
            date: search_date,
            roleid: search_roleid,
            nickname: search_nickname,
        };
        menuClick(_url, source);
    }
</script>
<!-- /.content -->