<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        权限管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a <if condition="$item.active eq 1">class="active"</if> href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="gg-tab">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b class="text-light-blue">权限列表</b></a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><b class="text-green">新建</b> | <b class="text-blue">编辑</b></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                        <div class="box-header">
                            <!--<h3 class="box-title"></h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input name="table_search" class="form-control pull-right" placeholder="搜索..." type="text">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hove table-bordered">
                                <thead>
                                <tr>
                                    <th>权限名称</th>
                                    <th>状态</th>
                                    <th>模块名称</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="roles" item="item">
                                    <tr>
                                        <td>{$item.name}</td>
                                        <td><if condition="$item.status eq 1"><b class="label bg-green">已启用</b><else /><b class="label bg-red">已禁用</b></if></td>
                                        <td>{$item.module_name}</td>
                                        <td><a href="Javascript:void(0)" onclick="roleEdit('__MODULE__/role/roles/_id/{$item._id}/module_name/{$item.module_name}')">编辑</a> |
                                            <a href="Javascript:void(0)" onclick="userConfirmDelete('__MODULE__/role/roles', '{$item._id}')">删除</a></td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            {$page}
                        </div>

                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">名称</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="name" placeholder="名称" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">状态</label>

                            <div class="col-sm-4">
                                <!--<input class="form-control" id="status" placeholder="状态" type="text">-->
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="status">是否激活
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="module_name" class="col-sm-2 control-label">模块名称</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="module_name" onchange="selectModule(this)">
                                    <option value="Admin">Admin</option>
                                    <option value="Agent">Agent</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-sm-2 control-label">权限列表</label>
                            <div class="col-sm-6">
                                <ul class="no-padding-left no-list-style">
                                    <foreach name="permission" item="item">
                                        <li class="margin-bottom10">
                                            <i class="fa {$item.icon}"></i> <span>{$item.name}</span>
                                            <foreach name="item.http_method" item="method">
                                                <switch name="method">
                                                    <case value="GET">
                                                        <span><input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-blue-active">{$method}</label></span>
                                                    </case>
                                                    <case value="PUT">
                                                        <span><input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-orange-active">{$method}</label></span>
                                                    </case>
                                                    <case value="POST">
                                                        <span><input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-green-active">{$method}</label></span>
                                                    </case>
                                                    <case value="DELETE">
                                                        <span><input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-red-active">{$method}</label></span>
                                                    </case>
                                                </switch>
                                            </foreach>
                                            <if condition="$item.child neq null">
                                                <ul class="no-list-style">
                                                    <foreach name="item.child" item="child">
                                                        <li class="margin-bottom10">
                                                            <i class="fa {$child.icon}"></i> {$child.name}
                                                            <foreach name="child.http_method" item="child_method">
                                                                <switch name="child_method">
                                                                    <case value="GET">
                                                                        <input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-blue-active">{$child_method}</label>
                                                                    </case>
                                                                    <case value="PUT">
                                                                        <input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-orange-active">{$child_method}</label>
                                                                    </case>
                                                                    <case value="POST">
                                                                        <input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-green-active">{$child_method}</label>
                                                                    </case>
                                                                    <case value="DELETE">
                                                                        <input type="checkbox" class="permission_id" value="{$item._id}"><label class="label bg-red-active">{$child_method}</label>
                                                                    </case>
                                                                </switch>
                                                            </foreach>
                                                        </li>

                                                    </foreach>
                                                </ul>
                                            </if>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="permission" class="col-sm-2 control-label">权限列表</label>
                            <div class="col-sm-2">
                                <div id="permission">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="role_submit" type="submit" class="btn btn-primary" onclick="roleSave('__MODULE__/role/roles')">添加</button>
                                <button type="submit" class="btn btn-warning" onclick="roleClear()">清空</button>
                                <input type="hidden" id="_id">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    $(document).ready(
        permission(null)
    );

    function selectModule() {
        var module_name = $("#module_name").find("option:selected").val();
        var _id = $("#_id").val();
        console.log(_id);
        if (_id) {
            roleEdit('__MODULE__/role/roles/_id/'+_id+'/module_name/'+module_name);
        } else {
            permission(null, module_name);
        }

    }

    function permission(menus, module_name) {
        var tree = [];
        if (menus) {
            $.each(menus, function(key, value) {
                var tmp = {
                    text: value.name,
                    icon: "fa " + value.icon,
                    tags: [value._id],
                    state: {
                        selected: value.selected==1 ? true : false
                    }
                };
                //子节点
                if(value.child) {
                    $.each(value.child, function(k, v) {
                        var child_tmp = {
                            text: v.name,
                            icon: "fa " + v.icon,
                            tags: [v._id],
                            state: {
                                selected: v.selected==1 ? true : false
                            }
                        };
                        if(!tmp.nodes) {
                            tmp.nodes = [];
                        }
                        tmp.nodes.push(child_tmp);
                    });
                }
                tree.push(tmp);
            });
            build_tree(tree);
        } else {
            //如果是编辑
            module_name = module_name ? module_name : "Admin";
            ajaxRequest('__MODULE__/role/permission/module_name/'+module_name, null, 'get', 'json', function(result) {
                $.each(result.data.menus, function(key, value) {
                    var tmp = {
                        text: value.name,
                        icon: "fa " + value.icon,
                        tags: [value._id],
                        state: {
                            selected: value.selected==1 ? true : false
                        }
                    };
                    //子节点
                    if(value.child) {
                        $.each(value.child, function(k, v) {
                            var child_tmp = {
                                text: v.name,
                                icon: "fa " + v.icon,
                                tags: [v._id],
                                state: {
                                    selected: v.selected==1 ? true : false
                                }
                            };
                            if(!tmp.nodes) {
                                tmp.nodes = [];
                            }
                            tmp.nodes.push(child_tmp);
                        })
                    }
                    tree.push(tmp);
                });

                //渲染树
                build_tree(tree);
            });
        }
    }

    function build_tree(tree) {
        $("#permission").treeview(
            {
                data: tree,
                multiSelect: true,
                //showTags: true,
                selectedIcon: "fa fa-check-square-o",
                onNodeSelected: function(event, node) {
                    if(node.parentId) {
                        $("#permission").treeview('selectNode', node.parentId);
                    }
                },
                onNodeUnselected: function(event, node) {
                    if(node.nodes) {
                        $.each(node.nodes, function(key, value) {
                            $("#permission").treeview('unselectNode', value.nodeId);
                        });
                    }
                }
            }
        );
    }

    function roleClear() {
        $("#name").val("");
        $("#status").attr("checked", false);
        $("#_id").val("");
        $("#module_name").val("");
        $("#role_submit").html("添加");
    }

    function roleEdit(_url) {
        ajaxRequest(_url, null, 'get', 'json', function(result) {
            if (result.code == 200) {
                $("#role_submit").html("保存");
                $('#gg-tab a[href="#tab_2"]').tab('show');
                $("#name").val(result.data.roles.name);
                if (result.data.roles.status) {
                    $("#status").attr("checked", true);
                } else {
                    $("#status").attr("checked", false);
                }
                $("#module_name").val(result.data.roles.module_name);
                $("#_id").val(result.data.roles._id.$id);
                permission(result.data.roles.permission);
            }
        })
    }

    function userConfirmDelete(_url, _id) {
        warningDialog('block', '警告', '此操作不可恢复，你真的要删除吗?', "roleDelete('" + _url + "', '" + _id + "')");
    }

    function roleDelete(_url, _id) {
        var source = {
            _id: _id
        }
        ajaxRequest(_url, source, 'DELETE', 'json', function(result) {
            if (!result) {
                warningDialog('none');
                successDialog('block', '删除', '删除成功!');
                menuClick('__MODULE__/role/roles');
            }
        })
    }

    function roleSave(_url) {
        var nodes = $("#permission").treeview('getSelected');
        var method = $("#_id").val() ? "PUT" : "POST";
        var name = $("#name").val();
        var module_name = $("#module_name").val();
        var status = $("#status").is(':checked') ? 1 : 0;
        var _id = $("#_id").val();

        var source = {
            name: name,
            status:status,
            module_name:module_name,
            _id:_id,
            permission:nodes,
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '保存或新建', result.msg);
                menuClick('__MODULE__/role/roles');

            } else {
                errorDialog('block', '保存或新建', result.msg);
            }
        });
    }
</script>