<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        跑马灯公告
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a <if condition="$item.active eq 1">class="active"</if> href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="gg-tab">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b class="text-light-blue">跑马灯列表</b></a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><b class="text-green">新建</b> | <b class="text-blue">编辑</b></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>

                            <div class="box-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input name="table_search" class="form-control pull-right" placeholder="搜索..." type="text">

                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>创建时间</th>
                                    <th>开始时间</th>
                                    <th>结束时间</th>
                                    <th>间隔秒数</th>
                                    <th>消息内容</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>

                                <foreach name="trotting" item="item">
                                    <tr>
                                        <td>{$item.date}</td>
                                        <td>{$item.start_date}</td>
                                        <td>{$item.end_date}</td>
                                        <td>{$item.interval}</td>
                                        <td>{$item.content}</td>
                                        <td>
                                            <switch name="item.expire">
                                                <case value="0">
                                                    <label class="label bg-orange-active">未开始</label>
                                                </case>
                                                <case value="1">
                                                    <label class="label bg-green-active">播放中</label>
                                                </case>
                                                <case value="2">
                                                    <label class="label bg-red-active">已过期</label>
                                                </case>
                                            </switch>
                                        </td>
                                        <td><a href="Javascript:void(0)" onclick="trottingEdit('__MODULE__/activity/trotting/_id/{$item._id}')">编辑</a> |
                                            <a href="Javascript:void(0)" onclick="trottingConfirmDelete('__MODULE__/activity/trotting', '{$item._id}')">删除</a></td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            {$page}
                        </div>

                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label for="date_range" class="col-sm-2 control-label">开始-结束 时间</label>
                            <div class="col-sm-4">
                                <input class="form-control pull-right" id="date_range" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="interval" class="col-sm-2 control-label">时间间隔</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="interval" placeholder="时间间隔(秒)" min="5" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">消息内容</label>
                            <div class="col-sm-4">
                                <textarea class="form-control" id="content" rows="3" placeholder="消息内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="trotting_submit" type="submit" class="btn btn-primary" onclick="trottingSave('__MODULE__/activity/trotting')">添加</button>
                                <button type="submit" class="btn btn-warning" onclick="trottingClear()">清空</button>
                                <input type="hidden" id="_id">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    $('#date_range').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 30,
        format: 'YYYY/MM/DD HH:mm:ss',
        locale: moment.locale('zh-cn'),
    });

    //加载编辑器
    function trottingClear() {
        $("#interval").val("");
        $("#content").val("");
        $("#_id").val("");
        $("#trotting_submit").html("添加");
    }

    function trottingEdit(_url) {
        ajaxRequest(_url, null, 'get', 'json', function(result) {
            if (result.code == 200) {
                $("#trotting_submit").html("保存");
                $('#gg-tab a[href="#tab_2"]').tab('show'); 
                $("#date_range").val(result.data.trotting.date_range);
                $("#interval").val(result.data.trotting.interval);
                $("#content").val(result.data.trotting.content);
                $("#_id").val(result.data.trotting._id.$id);
            }
        })
    }

    function trottingConfirmDelete(_url, _id) {
        warningDialog('block', '警告', '此操作不可恢复，你真的要删除吗?', "trottingDelete('" + _url + "', '" + _id + "')");
    }

    function trottingDelete(_url, _id) {
        var source = {
            _id: _id
        }
        ajaxRequest(_url, source, 'DELETE', 'json', function(result) {
            if (!result) {
                warningDialog('none');
                successDialog('block', '删除', '删除成功!');
                menuClick('__MODULE__/activity/trotting');
            }
        })
    }

    function trottingSave(_url) {
        var method = $("#_id").val() ? "PUT" : "POST";
        var date_range = $("#date_range").val();
        var interval = $("#interval").val();
        var content = $("#content").val();
        var _id = $("#_id").val();

        var source = {
            date_range:date_range,
            interval: interval,
            content: content,
            _id:_id
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '保存或新建', result.msg);
                menuClick('__MODULE__/activity/trotting');

            } else {
                errorDialog('block', '保存或新建', result.msg);
            }
        });
    }
</script>