<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        菜单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">一级</a></li>
        <li class="active">二级</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="gg-tab">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b class="text-light-blue">菜单列表</b></a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><b class="text-green">新建</b> | <b class="text-blue">编辑</b></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title"></h3>

                                <div class="box-tools">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input name="table_search" class="form-control pull-right" placeholder="搜索..." type="text">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>排序</th>
                                        <th>名称</th>
                                        <th>父级</th>
                                        <th>动作</th>
                                        <th>http方法</th>
                                        <th>模块名</th>
                                        <th>图标</th>
                                        <th>是否可见</th>
                                        <th>操作</th>
                                    </tr>

                                    <foreach name="menus" item="item">
                                        <tr>
                                            <td>{$item.sort}</td>
                                            <td>{$item.name}</td>
                                            <td>{$item.parent_name}</td>
                                            <td>{$item.action}</td>
                                            <td>{$item.http_method}</td>
                                            <td>{$item.module_name}</td>
                                            <td><i class="fa {$item.icon}"></i></td>
                                            <td><if condition="$item.visible eq 1"><label class="label bg-green">可见</label><else/><label class="label bg-red">不可见</label></if></td>
                                            <td><a href="Javascript:void(0)" onclick="menuEdit('__MODULE__/menu/menus/_id/{$item._id}')">编辑</a> |
                                                <a href="Javascript:void(0)" onclick="menuDelete('__MODULE__/menu/menus', '{$item._id}')">删除</a></td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">
                                {$page}
                            </div>

                            <!-- /.box-footer -->
                        </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label for="sort" class="col-sm-2 control-label">排序</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="sort" placeholder="默认为 0" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">名称</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="name" placeholder="名称" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="action" class="col-sm-2 control-label">控制器</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="action" placeholder="默认为 javascript:void(0)" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="http_method" class="col-sm-2 control-label">操作方法</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="http_method" placeholder="默认为所有，可多选，可选值:GET,PUT,POST,DELETE" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="module_name" class="col-sm-2 control-label">模块</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="module_name" placeholder="模块为对应后台名称(固定值)，单选，可选值：Admin,Agent" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="icon" class="col-sm-2 control-label">图标</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="icon" placeholder="默认为 fa-circle" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pid" class="col-sm-2 control-label">父级菜单</label>

                            <div class="col-sm-4">
                                <select class="form-control" id="pid">
                                    <option value="0">父级菜单</option>
                                    <foreach name="parent_menu" item="item">
                                        <option value="{$item._id}">{$item.name}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="visible" class="col-sm-2 control-label">状态</label>

                            <div class="col-sm-4">
                                <!--<input class="form-control" id="status" placeholder="状态" type="text">-->
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="visible">是否可见
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="menu_submit" type="submit" class="btn btn-primary" onclick="menuSave('__MODULE__/menu/menus')">添加</button>
                                <button type="submit" class="btn btn-warning" onclick="menuClear()">清空</button>
                                <input type="hidden" id="_id">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    function menuClear() {
        $("#sort").val("");
        $("#name").val("");
        $("#action").val("");
        $("#icon").val("");
        $("#http_method").val("");
        $("#module_name").val("");
        $("#pid").val("0");
        $("#_id").val("");
        $("#visible").attr("checked", false);
        $("#menu_submit").html("添加");
    }

    function menuEdit(_url) {
        ajaxRequest(_url, null, 'get', 'json', function(result) {
            if (result.code == 200) {
                $("#menu_submit").html("保存");
                $('#gg-tab a[href="#tab_2"]').tab('show');
                $("#sort").val(result.data.menus.sort);
                $("#name").val(result.data.menus.name);
                $("#action").val(result.data.menus.action);
                $("#http_method").val(result.data.menus.http_method);
                $("#module_name").val(result.data.menus.module_name);
                $("#icon").val(result.data.menus.icon);
                $("#pid").val(result.data.menus.pid);
                $("#_id").val(result.data.menus._id.$id);
                if (result.data.menus.visible) {
                    $("#visible").attr("checked", true);
                } else {
                    $("#visible").attr("checked", false);
                }
            }
        })
    }

    function menuDelete(_url, _id) {
        var source = {
            _id: _id
        }
        ajaxRequest(_url, source, 'DELETE', 'json', function(result) {
            console.log(result);
            if (!result) {
                successDialog('block', '删除', '删除成功!');
                menuClick('__MODULE__/menu/menus');
            }
        })
    }

    function menuSave(_url) {
        var method = $("#_id").val() ? "PUT" : "POST";
        var sort = $("#sort").val();
        var name = $("#name").val();
        var action = $("#action").val();
        var http_method = $("#http_method").val() ? $("#http_method").val() : "GET,PUT,POST,DELETE";
        var module_name = $("#module_name").val() ? $("#module_name").val() : "Admin";
        var icon = $("#icon").val();
        var pid = $("#pid").val();
        var _id = $("#_id").val();
        var visible = $("#visible").is(':checked') ? 1 : 0;

        var source = {
            sort:sort,
            name: name,
            action: action ? action : 'javascript:void(0)',
            http_method: http_method,
            module_name: module_name,
            icon: icon ? icon : 'fa-circle',
            pid:pid,
            visible:visible,
            _id:_id
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '保存或新建', result.msg);
                menuClick('__MODULE__/menu/menus');

            } else {
                errorDialog('block', '保存或新建', result.msg);
            }
        });
    }
</script>