<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>杠杠麻将-领取奖励</title>

    <link href="/bower_components/weui/dist/style/weui.min.css" rel="stylesheet">
    <link href="/bower_components/weui/dist/example/example.css" rel="stylesheet">
    <script src="/bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/bower_components/weui/dist/example/zepto.min.js"></script>
</head>
<body style="text-align:center;">
<div id="container" class="container">
    <h3>&nbsp;</h3>
    <br>
    <hr>
    <br>
    <if condition="$amount neq null">
        <p>欢迎关注公众号，您可以领取{$amount}张房卡啦！</p>
        （每天领取一次）
        <br>
        <br>
        <br>
        <div>
            <button id="dialog" class="weui-btn weui-btn_primary" onclick="cardSave('__MODULE__/weixin/receive', '{$code}');">领取
            </button>
        </div>
        <br>
        <br>
        <p>注：领取成功后房卡直接发放到游戏内</p>
        <else/>
        <p>欢迎关注公众号，暂未到领取奖励时间！</p>
    </if>
</div>
<div class="js_dialog" id="androidDialog" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd"></div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">知道了</a>
        </div>
    </div>
</div>
</body>
<script>
    var androidDialog = $("#androidDialog");
    $('.weui-dialog__btn').on('click', function() {
        androidDialog.fadeOut(200);
    });
    function cardSave(url, code) {
        /*var xmlHttpRequest;
        if(window.XMLHttpRequest) {
            xmlHttpRequest = new XMLHttpRequest();
        } else {
            XMLHttpRequest = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlHttpRequest.onreadystatechange = function() {
           if (xmlHttpRequest.readyState == 4) {
               if (xmlHttpRequest.status == 201) {
                   $('.weui-dialog__bd').html("你已经成功领取今日的奖励!");
                   androidDialog.fadeIn(200);
               } else {
                   $('.weui-dialog__bd').html("今日领取已达上限，请明天再来!");
                   androidDialog.fadeIn(200);
               }
           } else {
               $('.weui-dialog__bd').html("今日领取已达上限，请明天再来!");
               androidDialog.fadeIn(200);
           }
        };
        xmlHttpRequest.open("GET", url + "?code=" + code, true);
        xmlHttpRequest.send(null);*/
        //禁用button
        $("#dialog").attr("disabled", true);
        $.ajax({
            url: url + "?code=" + code,
            type: 'GET',
            data: null,
            dataType: 'json',
            success: function (res) {
                $("#dialog").removeAttr("disabled");
                //已成功领取X房卡，赶紧畅玩吧
                if (res.info == 0) {
                    $('.weui-dialog__bd').html("下载游戏并登录成功后即可领取");
                    androidDialog.fadeIn(200);
                    return;
                }
                if (res.info == 1) {
                    $('.weui-dialog__bd').html("日奖励已领取，请明日再来哦");
                    androidDialog.fadeIn(200);
                    return;
                }
                $('.weui-dialog__bd').html("已成功领取" + res.data.info.amount + "张房卡，赶紧畅玩吧");
                androidDialog.fadeIn(200);
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                $("#dialog").removeAttr("disabled");
                //今日奖励已领取，请明日再来哦
                $('.weui-dialog__bd').html("日奖励已领取，请明日再来哦");
                androidDialog.fadeIn(200);
            }
        });
    }
</script>
</html>