<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {$title}
    </h1>
    <input type="hidden" value="{$query}" id="query">
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a <if condition="$item.active eq 1">class="active"</if> href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <form class="form-horizontal" onsubmit="return false;">
                    <div class="form-group col-sm-2">
                        <input class="form-control" id="search_date" placeholder="时间段">
                    </div>
                    <div class="form-group col-sm-1">
                        <input name="table_search" id="search_apply_user" class="form-control pull-right" placeholder="申请人" type="text">
                    </div>
                    <div class="form-group col-sm-1">
                        <button <if condition="$query eq verify">
                        onclick="onSearch('__MODULE__/stock/stocks/tab/verify')"
                        <else/>
                        onclick="onSearch('__MODULE__/stock/stocks/tab/status')"
                    </if>

                                type="submit" class="btn btn-primary">查询</button>
                    </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>申请时间</th>
                            <th>类型</th>
                            <th>数量</th>
                            <th>备注</th>
                            <th>申请人</th>
                            <if condition="$query eq verify">
                                <th>操作</th>
                            <else/>
                                <th>审核结果</th>
                            </if>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="stocks" item="item">
                            <tr>
                                <td>{$item.date}</td>
                                <td>{$item.type}</td>
                                <td>{$item.amount}</td>
                                <td>{$item.remark}</td>
                                <td>{$item.apply_user}</td>
                                <if condition="$query eq verify">
                                    <td>
                                        <button class="btn btn-success btn-sm" onclick="stockSave('__MODULE__/stock/stocks', '{$item._id}', 1)">通过</button>
                                        <button class="btn btn-primary btn-sm" onclick="stockSave('__MODULE__/stock/stocks', '{$item._id}', 0)">拒绝</button>
                                    </td>
                                <else/>
                                    <td>
                                        <if condition="$item.status eq 1">
                                            <label class="label bg-green">成功</label>
                                        <else/>
                                            <label class="label bg-red">失败</label>
                                        </if>
                                    </td>
                                </if>
                            </tr>

                        </foreach>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    {$page}
                </div>

                <!-- /.box-footer -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    $('#search_date').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 30,
        format: 'YYYY/MM/DD HH:mm:ss',
        locale: moment.locale('zh-cn'),
        autoUpdateInput: false,
    });
    $('#search_date').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD HH:mm:ss') + ' - ' + picker.endDate.format('YYYY/MM/DD HH:mm:ss'));
    });

    $('#search_date').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
    //$("#search_date").val("");
    function onSearch(_url) {
        var search_date = $("#search_date").val();
        var search_apply_user = $("#search_apply_user").val();
        var source = {
            date: search_date,
            apply_user: search_apply_user,
        };
        menuClick(_url, source);
    }

    function stockSave(_url, _id, status) {
        var method = 'PUT';
        var query = $("#query").val();
        if (query=='verify') {
            query = '/tab/verify';
        } else {
            query = '/tab/status';
        }
        var source = {
            status:status,
            _id:_id
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '保存或新建', result.msg);
                menuClick('__MODULE__/stock/stocks' + query);

            } else {
                errorDialog('block', '保存或新建', result.msg);
            }
        });
    }
</script>