<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        库存管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">一级</a></li>
        <li class="active">二级</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <!--<h3>申请库存</h3>-->
                </div>
                <div class="box-body">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label for="type" class="col-sm-2 control-label">类型</label>

                            <div class="col-sm-2">
                                <select class="form-control" id="type">
                                    <option value="1">普通</option>
                                    <option value="2">活动</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-2 control-label">数量</label>
                            <div class="col-sm-2">
                                <select class="form-control" id="amount">
                                    <option value="10000">10000</option>
                                    <option value="30000">30000</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="remark" class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="remark" placeholder="备注" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="stock_submit" type="submit" class="btn btn-primary" onclick="stockSave('__MODULE__/stock/stocks')">添加</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    function stockSave(_url) {
        var method = $("#_id").val() ? "PUT" : "POST";
        var sort = $("#sort").val();
        var name = $("#name").val();
        var action = $("#action").val();
        var http_method = $("#http_method").val() ? $("#http_method").val() : "GET,PUT,POST,DELETE";
        var module_name = $("#module_name").val() ? $("#module_name").val() : "Admin";
        var icon = $("#icon").val();
        var pid = $("#pid").val();
        var _id = $("#_id").val();
        var visible = $("#visible").is(':checked') ? 1 : 0;

        var source = {
            sort:sort,
            name: name,
            action: action ? action : 'javascript:void(0)',
            http_method: http_method,
            module_name: module_name,
            icon: icon ? icon : 'fa-circle',
            pid:pid,
            visible:visible,
            _id:_id
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '保存或新建', result.msg);
                menuClick('__MODULE__/stock/stocks');

            } else {
                errorDialog('block', '保存或新建', result.msg);
            }
        });
    }
</script>