<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-dollar"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">房卡数量</span>
                    <span class="info-box-number">{$Think.session.Agent_admin.card_amount}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <h1>
        代理管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="__MODULE__/index/index"><i class="fa fa-dashboard"></i>首页</a></li>
        <foreach name="breadcrumb" item="item">
            <li><a <if condition="$item.active eq 1">class="active"</if> href="javascript:void(0)" onclick="menuClick('{$item.action}')">{$item.name}</a></li>
        </foreach>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs" id="gg-tab">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><b class="text-light-blue">代理列表</b></a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false"><b class="text-green">新建</b></a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div class="box">
                        <div class="box-header">
                            <form class="form-horizontal" onsubmit="return false;">
                                <div class="form-group col-sm-2">
                                    <input class="form-control" id="search_date" placeholder="时间段">
                                </div>
                            <div class="form-group col-sm-1">
                                <input name="table_search" id="search_username" class="form-control pull-right" placeholder="账号" type="text">
                            </div>
                            <div class="form-group col-sm-1">
                                <button onclick="onSearch('__MODULE__/user/agents')" type="submit" class="btn btn-primary">查询</button>
                            </div>
                            </form>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table text-center table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>注册时间</th>
                                    <th>账号</th>
                                    <th>昵称</th>
                                    <th>状态</th>
                                    <th>购卡数</th>
                                    <th>返利业绩</th>
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="agents" item="item">
                                    <tr>
                                        <td>{$item.date}</td>
                                        <td>{$item.username}</td>
                                        <td>{$item.name}</td>
                                        <td><if condition="$item.status eq 1"><b class="label bg-green">已启用</b><else /><b class="label bg-red">已禁用</b></if></td>
                                        <td>
                                            <foreach name="item.stock_amount" key="k" item="stock_amount">
                                                {$stock_type[$k]}: {$stock_amount}<br>
                                            </foreach>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            {$page}
                        </div>

                        <!-- /.box-footer -->
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <form class="form-horizontal" onsubmit="return false;">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">昵称</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="name" placeholder="昵称" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="agent_type" class="col-sm-2 control-label">会员类型</label>
                            <div class="col-sm-2">
                                <!--<select class="form-control" id="agent_type">
                                    <foreach name="agent_type" key="k" item="item">
                                        <option value="{$k}">{$item}</option>
                                    </foreach>
                                </select>-->
                                <div class="form-control no-border"><b>金牌</b></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="wechat" class="col-sm-2 control-label">微信号</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="wechat" placeholder="微信号" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cellphone" class="col-sm-2 control-label">手机号码</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="cellphone" placeholder="手机号码" type="text" required>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary pull-right" onclick="verifyCode('__MODULE__/User/verifyCode')">发送</button>
                            </div>
                            <div class="col-sm-1" style="margin-top:4px;">
                                <label id="cellphone_tip"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="verify_code" class="col-sm-2 control-label">验证码</label>
                            <div class="col-sm-1">
                                <input class="form-control" id="verify_code" placeholder="验证码" type="text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="password" placeholder="密码" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="repeat_password" class="col-sm-2 control-label">重复密码</label>

                            <div class="col-sm-4">
                                <input class="form-control" id="repeat_password" placeholder="重复密码" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="verify_image" class="col-sm-2 control-label">图片验证码</label>
                            <div class="col-sm-1">
                                <input id="image_verify_code" class="form-control" type="text" required placeholder="图片验证码">
                            </div>
                            <div class="col-sm-2">
                                <img id="verify_image" onclick="this.src=this.src+'?'+Math.random();" src="__MODULE__/index/verify">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <button id="agent_submit" type="submit" class="btn btn-primary" onclick="agentSave('__MODULE__/user/agents')">添加</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    $('#search_date').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 30,
        format: 'YYYY/MM/DD HH:mm:ss',
        locale: moment.locale('zh-cn'),
        autoUpdateInput: false,
    });
    $('#search_date').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY/MM/DD HH:mm:ss') + ' - ' + picker.endDate.format('YYYY/MM/DD HH:mm:ss'));
    });

    $('#search_date').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
    function onSearch(_url) {
        var search_username = $("#search_username").val();
        var date = $("#search_date").val();
        var source = {
            username: search_username,
            date: date
        };
        menuClick(_url, source);
    }
    function verifyCode(_url) {
        var cellphone = $("#cellphone").val();
        var source = {
            cellphone: cellphone,
        };
        ajaxRequest(_url, source, 'GET', 'json', function(result) {
            if(result.code == 200) {
                $("#cellphone_tip").attr("class", "bg-green-active label");
                $("#cellphone_tip").html(result.msg);
            }
        });
    }

    function agentSave(_url) {
        var method = "POST";
        var password = $("#password").val();
        var repeat_password = $("#repeat_password").val();
        var name = $("#name").val();
        //var agent_type = $("#agent_type").val();
        var wechat = $("#wechat").val();
        var cellphone = $("#cellphone").val();
        var verify_code = $("#verify_code").val();
        var _id = $("#_id").val();

        var source = {
            password:password,
            repeat_password:repeat_password,
            wechat: wechat,
            cellphone: cellphone,
            verify_code: verify_code,
            name: name,
            //agent_type: agent_type,
            _id:_id
        };
        ajaxRequest(_url, source, method, 'json', function(result) {
            if(result.code == 201) {
                successDialog('block', '新建', result.msg);
                menuClick('__MODULE__/user/agents');

            } else {
                errorDialog('block', '新建', result.msg);
            }
        });
    }
</script>