<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        个人信息
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
        <li><a href="#">一级</a></li>
        <li class="active">二级</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="/bower_components/AdminLTE/dist/img/photo1.png"
                         alt="User profile picture">

                    <h3 class="profile-username text-center">{$user.name}</h3>

                    <p class="text-muted text-center">{$user.username}</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>类型</b> <a class="pull-right">{$user.type_name}</a>
                        </li>
                        <li class="list-group-item">
                            <b>加入日期</b> <a class="pull-right">{$user.date}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#info" data-toggle="tab" aria-expanded="true">补充信息</a></li>
                    <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">修改密码</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="info">
                        <form class="form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">昵称</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="name" placeholder="昵称" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="type" class="col-sm-2 control-label">类型</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="type" placeholder="类型" value="{$user.type_name}" type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">账号</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="username" placeholder="账号" {$user.username} type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="wechat" class="col-sm-2 control-label">微信号</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="wechat" placeholder="微信号" {$user.wechat} type="text" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bank_name" class="col-sm-2 control-label">开户行</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="bank_name" placeholder="开户行" {$user.bank_name} type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bank_card" class="col-sm-2 control-label">卡号</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="bank_card" placeholder="卡号" {$user.bank_card} type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="real_name" class="col-sm-2 control-label">姓名</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="real_name" placeholder="姓名" {$user.real_name} type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger" onclick="userSave('__MODULE__/user/users')">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <label for="old_password" class="col-sm-2 control-label">旧密码</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="old_password" placeholder="旧密码" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">密码</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="password" placeholder="密码" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repeat_password" class="col-sm-2 control-label">重复密码</label>

                                <div class="col-sm-10">
                                    <input class="form-control" id="repeat_password" placeholder="重复密码" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger" onclick="userPassword('__MODULE__/user/users')">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    function userSave(_url) {
        var method = "PUT";
        var old_password = $("#old_password").val();
        var password = $("#password").val();
        var repeat_password = $("#repeat_password").val();

        var source = {
            old_password: old_password,
            password: password,
            repeat_password: repeat_password,
        };
        ajaxRequest(_url, source, method, 'json', function (result) {
            if (result.code == 201) {
                successDialog('block', '保存', result.msg);
                menuClick('__MODULE__/user/users');

            } else {
                errorDialog('block', '保存', result.msg);
            }
        });
    }

    function userPassword(_url) {
        var method = "PUT";
        var old_password = $("#old_password").val();
        var password = $("#password").val();
        var repeat_password = $("#repeat_password").val();

        var source = {
            old_password: old_password,
            password: password,
            repeat_password: repeat_password,
        };
        ajaxRequest(_url, source, method, 'json', function (result) {
            if (result.code == 201) {
                successDialog('block', '保存', result.msg);
                menuClick('__MODULE__/user/users');

            } else {
                errorDialog('block', '保存', result.msg);
            }
        });
    }
</script>